from pydantic import BaseModel
from typing import Optional, Any
from datetime import datetime

{% for table in tables %}
{% if table.is_fts %}
class {{ table.name | capitalize }}Search(BaseModel):
    query: str

class {{ table.name | capitalize }}Result(BaseModel):
    # Add fields that you expect in the search result
    # For example:
    id: int
    title: Optional[str] = None
    content: Optional[str] = None
    # Add more fields as needed

{% else %}
class {{ table.name | capitalize }}Base(BaseModel):
    {% for column in table.columns %}
    {% if column.name != table.primary_key %}
    {{ column.name }}: {% if column.nullable %}Optional[{{ column.py_type }}]{% else %}{{ column.py_type }}{% endif %}{% if column.nullable %} = None{% endif %}
    {% endif %}
    {% endfor %}

class {{ table.name | capitalize }}Create({{ table.name | capitalize }}Base):
    pass

class {{ table.name | capitalize }}({{ table.name | capitalize }}Base):
    {{ table.primary_key }}: int

{% endif %}
{% endfor %}
